.cardContainer{
    position: relative;
    display: flex;
    flex-direction: column;

    width: 15rem;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 1rem;
}